*, ::before, ::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  position: relative;
  padding: 4rem 8rem;
}
input, textarea {
  border-bottom: 1px solid lightgray;
  resize: none;
}
button {
  padding: .5rem 1rem;
}
button:hover {
  cursor: pointer;
}
a {
  color: black;
}
a:hover {
  color: gray;
}
header {
  padding: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: lightgray;
}
.nav-bar-main {
  display: flex;
  justify-content: space-between;
}
.content {
  min-height: 90vh;
  position: relative;
  padding: 1rem;
  box-shadow: 
    2px 2px 8px rgb(0 0 0 / .15),
    -2px -2px 8px rgb(0 0 0 / .15);
}
.login-links {
  display: flex;
  gap: 1rem;
}
.auth-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.post-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.message-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.message-item {
  width: 60%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px solid lightgray;
}
.message-delete-btn {
  margin-left: auto;
}
.message-delete-btn button {
  background: none;
  opacity: .5;
}
